<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 1. Cargar Lineicons-5 -->
    <link rel="stylesheet" href="/assets/lineicons-5/free-solid-fonts/lineicons-free-solid.css">

    <!-- 2. Cargar Bulma local -->
    <link rel="stylesheet" href="/assets/css/bulma.min.css">

    <!-- 3. Cargar Alpine.js local (importante el atributo defer) -->
    <script defer src="/assets/js/alpine.min.js"></script>

    <!-- 4. Cargar JS del Servicio Actual -->
    <script src="/login/assets/javascript/login.js"></script>

	<title>{{.CompanyName}}</title>
</head>
    <body class="has-background-black-ter">
        <div x-data="LoginData">

            <section class="hero is-fullheight">
                <div class="hero-body">
                    <!-- LOGIN CARD -->
                    <div class="container">
                        <!-- BRANDING -->
                        <div class="columns is-centered">
                            <div class="column is-one-third">
                                <div class="card has-text-centered py-6 px-6">
                                    <div class="is-size-1 title py-2">
                                        <h1>{{.CompanyName}}</h1>
                                    </div>

                                    <!-- LOGIN FORM -->
                                    <div class="py-2">
                                        <form @submit.prevent="SubmitLogin">
                                            <label class="label has-text-left">Correo Electronico</label>
                                            <input class="input" type="email" placeholder="example@gmail.com" x-model="email">
                                            <label class="label has-text-left">Contraseña</label>
                                            <input class="input" type="password" placeholder="••••••••••" x-model="password">
                                            <div class="is-size-7 has-text-danger" x-show="statusMessage">¡Credenciales invalidas! Intente de nuevo.</div>
                                            <button class="button is-dark my-2 mx-2 has-text-centered" type="submit">
                                                <i class="lni lnis-home-2 px-4"></i>
                                            </button>
                                        </form>
                                    </div>

                                    <div class="is-size-7">
                                        <h2>{{.Slogan}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </body>
</html>
