<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load Frontend Dependencies -->
    <link rel="stylesheet" href="/assets/web/lucide-font/lucide.css">
    <link rel="stylesheet" href="/assets/css/bulma/css/bulma.min.css">
    <script src="/assets/src/js/Login/login.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.16.3/dist/cdn.min.js"></script>

	<title>{{.CompanyName}}</title>
</head>
    <body class="has-background-black-ter">
        <div x-data="LoginData">

            <section class="hero is-fullheight">
                <div class="hero-body">
                    <!-- LOGIN CARD -->
                    <div class="container">
                        <!-- BRANDING -->
                        <div class="columns is-centered">
                            <div class="column is-one-third">
                                <div class="card has-text-centered py-6 px-6">
                                    <div class="is-size-1 title py-2">
                                        <h1>{{.CompanyName}}</h1>
                                    </div>

                                    <!-- LOGIN FORM -->
                                    <div class="py-2">
                                        <form @submit.prevent="SubmitLogin">
                                            <label class="label has-text-left">Correo Electronico
                                                <input class="input" type="email" placeholder="example@gmail.com" x-model="email">
                                            </label>
                                            <label class="label has-text-left">Contraseña
                                                <input class="input" type="password" placeholder="••••••••••" x-model="password">
                                            </label>
                                            <div class="is-size-7 has-text-danger" x-show="statusMessage">¡Credenciales invalidas! Intente de nuevo.</div>
                                            <button class="button is-dark my-2 mx-2 has-text-centered" type="submit">
                                                Iniciar Sesión
                                                <span class="px-2">
                                                    <i class="icon-log-in"></i>
                                                </span>
                                            </button>
                                        </form>
                                    </div>

                                    <div class="is-size-7">
                                        <h2>{{.Slogan}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </body>
</html>
