<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load Frontend Dependencies -->
    <link rel="stylesheet" href="/assets/web/lucide-font/lucide.css">
    <link rel="stylesheet" href="/assets/css/savedraaCSS.css">
    <link rel="stylesheet" href="/assets/css/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/src/js/Quote/quote.css">
    <script defer src="/assets/src/js/utils/utils.js"></script>
    <script defer src="/assets/src/js/Quote/quote.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.16.3/dist/cdn.min.js"></script>

	<title>Quote New</title>
</head>

<body class="has-navbar-fixed-top" x-data="quoteNewComponent">
    <!-- NAVBAR -->
    <section class="hero">
      <div class="container">
        <nav class="navbar is-fixed-top has-background-black-ter">
          <div class="navbar-brand">
            <a class="navbar-item" href="/welcome" @click.prevent="goHome">
              <figure class="image mx-6">
                <img src="/assets/img/saavedraVanilla.svg" alt="Inicio">
              </figure>
            </a>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <a href="/login" @click.prevent="logOut">
                <button class="button is-primary px-3 is-small" type="button">
                  Cerrar sesión <span class="px-2"><i class="icon-log-in"></i></span>
                </button>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </section>

    <!--MAIN -->
    <main class="hero is-fullheight">
        <section class="section">
          <div class="container">
            <!-- FORM -->
            <div id="view-form">
                <div class="columns is-multiline">
                    <div class="column is-3">
                        <div class="field">
                            <label class="label" for="usersList">Usuario</label>
                            <div class="control has-icons-left">
                                <input
                                    class="input"
                                    list="usersRecords"
                                    id="usersList"
                                    placeholder="Quien cotiza?"
                                    x-model="user"
                                >
                                <span class="icon is-small is-left">
                                    <i class="icon-user"></i>
                                </span>
                                <datalist id="usersRecords">
                                    <template x-for="rec in userArray" :key="rec.id">
                                        <option :value="rec.name" x-text="rec.name"></option>
                                    </template>
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">
                        <div class="field">
                            <label class="label" for="customerList">Cliente</label>
                            <div class="control has-icons-left">
                                <input
                                    class="input"
                                    list="customerRecords"
                                    id="customerList"
                                    placeholder="Nenova Inc."
                                    x-model="customer"
                                >
                                <span class="icon is-small is-left">
                                    <i class="icon-file-user"></i>
                                </span>
                                <datalist id="customerRecords">
                                    <template x-for="rec in customerArray" :key="rec.id">
                                        <option :value="rec.name" x-text="rec.name"></option>
                                    </template>
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">
                        <div class="field">
                            <label class="label">Cantidad Hrs. Hombre</label>
                            <div class="control has-icons-left">
                                <input class="input" type="number" placeholder="40" x-model="hrMen">
                                <span class="icon is-small is-left">
                                      <i class="icon-timer"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">
                        <div class="field">
                            <label class="label">Costo Hora Hombre</label>
                            <div class="control has-icons-left">
                                <input class="input" type="number" placeholder="80" x-model="hrCost">
                                <span class="icon is-small is-left">
                                      <i class="icon-coins"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">
                        <div class="field">
                            <label class="label">Costo Transporte</label>
                            <div class="control has-icons-left">
                                <input class="input" type="number" placeholder="500" x-model="transportCost">
                                <span class="icon is-small is-left">
                                      <i class="icon-truck"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">
                        <div class="field">
                            <label class="label" for="productList">Producto</label>
                            <div class="control has-icons-left">
                                <input
                                    class="input"
                                    list="productRecords"
                                    id="productList"
                                    placeholder="Rollo Cable"
                                    x-model="product"
                                    :disabled="unlockProduct"
                                >
                                <span class="icon is-small is-left">
                                    <i class="icon-shopping-basket"></i>
                                </span>
                                <datalist id="productRecords">
                                    <template x-for="rec in productArray" :key="rec.id">
                                        <option :value="rec.name" x-text="rec.name"></option>
                                    </template>
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">
                        <div class="field">
                            <label class="label">Cantidad</label>
                            <div class="control has-icons-left">
                                <input
                                    class="input"
                                    type="number"
                                    placeholder="120"
                                    x-model="quantity"
                                    :disabled="unlockProduct"
                                >
                                <span class="icon is-small is-left">
                                      <i class="icon-circle-pile"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="column is-3">
                        <div class="field">
                            <label class="label">Agregar</label>
                            <button
                                class="button is-warning is-fullwidth is-normal"
                                @click="appendItem"
                                :disabled="appendRequired"
                            >
                                <span class="icon is-centered">
                                    <i class="icon-badge-plus"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- TABLE -->
            <table class="table is-fullwidth is-striped my-6">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Descripción</th>
                    <th>Medida</th>
                    <th>Precio</th>
                    <th>Category</th>
                    <th>Provedor</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <template x-for="record in records" :key="record.name">
                <tr @click="popItem(record.name)" style="cursor: pointer;">
                    <td x-text="record.name"></td>
                    <td x-text="record.description"></td>
                    <td x-text="record.pMeasure"></td>
                    <td x-text="record.price"></td>
                    <td x-text="record.category"></td>
                    <td x-text="record.proveedor"></td>
                    <td x-text="record.quantity"></td>
                    <td x-text="record.subtotal"></td>
                </tr>
                </template>
                <tr x-show="!records || !loading && records.length === 0">
                <td colspan="8">No hay productos agregados.</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8"></td>
                </tr>
                <tr class="is-dark">
                    <td>Cliente</td>
                    <td x-text="customer"></td>
                    <td>Hrs. Hombre</td>
                    <td x-text="hrMen"></td>
                    <td colspan="4">
                </tr>
                <tr class="is-dark">
                    <td>Subtotal Trans.</td>
                    <td x-text="transportCost"></td>
                    <td>Subtotal HrsHom.</td>
                    <td x-text="hrMenTotal"></td>
                    <td>Subtotal Prods.</td>
                    <td x-text="productTotal"></td>
                    <td>Total</td>
                    <td x-text="total"></td>
                </tr>
              </tfoot>
            </table>
            <!-- CONFIG MAILING -->
            <section id="mail-controls">
                <div class="columns">
                    <div class="column is-2">
                        <div class="field">
                            <label class="checkbox">
                              <input type="checkbox" x-model="sendMulti" @click="toggleMulti"/>
                              Enviar A Varios
                            </label>
                        </div>
                    </div>
                    <div class="column is-2">
                        <div class="field" x-show="sendMulti">
                            <label class="label">Correos</label>
                            <input class="input" type="email" placeholder="ejemplo@gmail.com" x-model="chip">
                        </div>
                    </div>
                    <div class="column is-2">
                        <div class="field" x-show="sendMulti">
                            <label class="label">Agregar</label>
                            <button
                                class="button is-danger is-light is-fullwidth"
                                @click="appendChip"
                            >
                                <span class="icon is-centered">
                                    <i class="icon-mail"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="chips-container" x-show="sendMulti">
                            <template x-for="chip in mailChips">
                                <span
                                    class="tag is-dark mx-2"
                                    x-text="chip"
                                    @click="popChip(chip)"
                                    style="cursor: pointer;"
                                >
                                </span>
                            </template>
                        </div>
                    </div>
                </div>
            </section>
            <!-- DANGER BUTTONS -->
            <section id="view-controls">
                <div class="columns">
                    <div class="column is-12">
                        <div class="buttons mt-6">
                            <button
                                class="button is-warning is-outlined"
                                @click="goBack"
                            >Regresar
                            </button>
                            <button
                                class="button is-primary"
                                @click="printQuote"
                                :disabled="unlockActions"
                            >Imprimir
                            </button>
                            <button
                                class="button is-primary"
                                @click="send"
                                :disabled="unlockActions"
                            >Enviar
                            </button>
                            <button
                                class="button is-primary"
                                @click="createRecord"
                                :disabled="unlockActions"
                            >Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </section>

        </section>
    </main>

    <!-- FOOTER -->
    <footer class="footer has-background-black-ter p-0">
      <div class="content has-text-left">
          <section class="section">
              <div class="container">
                  <div class="columns">
                      <div class="column is-6">
                          <p class="has-text-white is-size-7">
                              <span class="is-bold">Saavedra Vanilla</span> esta construido sobre una arquitectura
                              desacomplada basada en DSEE.
                              Cualquier servicio extra puede ser desarrollado según la necesidad del negocio.
                              El cobro depende de la cantidad de
                              capas necesitadas por servicio lo cual reduce el costo drasticamente.
                              Para cotizar un servicio extra
                              en tu app
                              <a href="mailto:gallo85floyd@gmail.com">
                                  <strong class="has-text-primary">contactanos</strong>.
                              </a>
                          </p>
                      </div>
                      <div class="column is-6">
                          <p class="is-size-7 has-text-white">
                              Numero de Contacto / WhatsApp:
                              <span class="has-text-primary">
                                  <i class="icon icon-phone"></i>
                                  + 52 246 207 29 85
                              </span>
                          </p>
                      </div>
                  </div>
              </div>
          </section>
      </div>
    </footer>
</body>
</html>
