<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <!-- Load Frontend Dependencies & configuration-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/web/lucide-font/lucide.css">
    <link rel="stylesheet" href="/assets/css/savedraaCSS.css">
    <link rel="stylesheet" href="/assets/css/bulma/css/bulma.min.css">
    <script defer src="/assets/src/js/utils/utils.js"></script>
    <script defer src="/assets/src/js/Users/usersRecord.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.16.3/dist/cdn.min.js"></script>

	<title>Users Record</title>
</head>

<!-- initData(arg1, arg2,...) INJECTION FROM HTML GO DATA TO DYNAMIC ALPINE x-model HANDLER -->
<body class="has-navbar-fixed-top" x-data="usersRecordComponent" x-init="initData('{{.Id}}', '{{.Name}}', '{{.Email}}')">

    <section class="hero">
        <div class="container">
            <nav class="navbar is-fixed-top has-background-black-ter">

                <div class="navbar-brand">
                    <!-- Don't forget registering the event in your JS in an Alpine Component. -->
                    <a class="navbar-item" href="/welcome" @click.prevent="goHome">
                        <figure class="image mx-6">
                            <img src="/assets/img/saavedraVanilla.svg"/>
                        </figure>
                    </a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <!-- Don't forget registering the event in your JS in an Alpine Component. -->
                                <a href="/login" @click.prevent="logOut">
                                    <button class="button is-primary px-3 is-small">
                                        Cerrar Sesión
                                        <span class="px-2">
                                            <i class="icon-log-in"></i>
                                        </span>
                                    </button>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

            </nav>
        </div>
    </section>

    <main class="hero is-fullheight">

        <section class="section">
            <div class="container">

              <div class="columns is-centered">
                <div class="column is-two-thirds box">

                    <form>
                        <div class="columns is-multiline">

                            <div class="column is-12 has-text-centered">
                                <h1 class="title">
                                   Registro Id {{.Id}}
                                </h1>
                            </div>

                            <div class="column is-6">
                                <div class="field">
                                    <label class="label">Nombre</label>
                                    <div class="control">
                                        <input
                                            class="input"
                                            type="text"
                                            placeholder="Nombre usuario"
                                            x-model="name"
                                        >
                                    </div>
                                </div>
                            </div>

                            <div class="column is-6">
                                <div class="field">
                                    <label class="label">Correo</label>
                                    <div class="control">
                                        <input
                                            class="input"
                                            type="email"
                                            placeholder="ejemplo@gmail.com"
                                            x-model="email"
                                        >
                                    </div>
                                </div>
                            </div>

                            <div class="column is-6">
                                <div class="field">
                                    <label class="label">Contraseña</label>
                                    <div class="control">
                                        <input class="input" type="password" placeholder="•••••••••" x-model="password">
                                    </div>
                                </div>
                            </div>

                            <div class="column is-6">
                                <div class="field">
                                    <label class="label">Repetir Contraseña</label>
                                    <div class="control">
                                        <input class="input" type="password" placeholder="•••••••••" x-model="repeatPassword">
                                    </div>
                                </div>
                            </div>

                        </div>

                  </form>


                    <div class="block my-2">
                        <p x-text="required" class="has-text-danger is-7"></p>
                        <p x-text="passMatch" class="has-text-danger is-7"></p>
                    </div>


                    <div class="columns is-multiline">
                        <div class="column is-6">
                            <div class="field">
                                <div class="control">
                                    <button class="button is-fullwidth is-primary" type="button" @click="updateUser">
                                    Actualizar Usuario
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="column is-6">
                            <div class="field">
                                <div class="control">
                                    <button class="button is-fullwidth is-danger" type="button" @click="deleteUser">
                                    Eliminar Usuario
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
              </div>

            </div>
        </section>

    </main>

    <footer class="footer has-background-black-ter p-0">
        <div class="content has-text-left">

            <section class="section">
                <div class="container">
                    <div class="columns">

                        <div class="column is-6">
                            <p class="has-text-white is-size-7">
                                <span class="is-bold">Saavedra Vanilla</span> esta construido sobre una arquitectura
                                desacomplada basada en DSEE.
                                Cualquier servicio extra puede ser desarrollado según la necesidad del negocio.
                                El cobro depende de la cantidad de
                                capas necesitadas por servicio lo cual reduce el costo drasticamente.
                                Para cotizar un servicio extra
                                en tu app
                                <a href="mailto:gallo85floyd@gmail.com">
                                    <strong class="has-text-primary">contactanos</strong>.
                                </a>
                            </p>
                        </div>

                        <div class="column is-6">
                            <p class="is-size-7 has-text-white">
                                Numero de Contacto / WhatsApp:
                                <span class="has-text-primary">
                                    <i class="icon icon-phone"></i>
                                    + 52 246 207 29 85
                                </span>
                            </p>
                        </div>

                    </div>
                </div>
            </section>

        </div>
    </footer>

</body>

</html>
