<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <!-- Load Frontend Dependencies & configuration-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/web/lucide-font/lucide.css">
    <link rel="stylesheet" href="/assets/css/savedraaCSS.css">
    <link rel="stylesheet" href="/assets/css/bulma/css/bulma.min.css">
    <script defer src="/assets/src/js/utils/utils.js"></script>
    <script defer src="/assets/src/js/Users/users.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.16.3/dist/cdn.min.js"></script>

	<title>Users</title>
</head>

<body class="has-navbar-fixed-top" x-data="usersComponent">

    <section class="hero">
        <div class="container">
            <nav class="navbar is-fixed-top has-background-black-ter">

                <div class="navbar-brand">
                    <!-- Don't forget registering the event in your JS in an Alpine Component. -->
                    <a class="navbar-item" href="/welcome" @click.prevent="goHome">
                        <figure class="image mx-6">
                            <img src="/assets/img/saavedraVanilla.svg"/>
                        </figure>
                    </a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <!-- Don't forget registering the event in your JS in an Alpine Component. -->
                                <a href="/login" @click.prevent="logOut">
                                    <button class="button is-primary px-3 is-small">
                                        Cerrar Sesión
                                        <span class="px-2">
                                            <i class="icon-log-in"></i>
                                        </span>
                                    </button>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

            </nav>
        </div>
    </section>

    <main class="hero is-fullheight">

        <div class="container">

            <div class="columns">

                <column class="column is-12 has-text-centered">
                    <h1 class="title my-5">Usuarios</h1>
                </column>

            </div>

            <div class="columns">

                <div class="column is-3">
                    <p>
                        <span class="icon-text">
                            <i class="icon icon-layers"></i>
                        </span>
                        <strong>Filas Totales: </strong>
                        <span x-text="totalRecords"></span>
                    </p>
                </div>

                <div class="column is-3">
                    <p>
                        <span class="icon-text">
                            <i class="icon icon-file-stack"></i>
                        </span>
                        <strong>Hojas Totales: </strong>
                        <span x-text="totalPages"></span>
                    </p>
                </div>

                <div class="column is-3">
                    <p>
                        <span class="icon-text">
                            <i class="icon icon-arrow-down-from-line"></i>
                        </span>
                        <strong>Hoja Actual: </strong>
                        <span x-text="page"></span>
                    </p>
                </div>

                <div class="column is-1">
                    <button
                        class="button is-primary is-outlined is-fullwidth"
                        @click="loadMinusTable"
                        x-bind:disabled="loading"
                    >
                        <i class="icon icon-circle-minus"></i>
                    </button>
                </div>

                <div class="column is-1">
                    <button
                        class="button is-primary is-outlined is-fullwidth"
                        @click="loadPlusTable"
                        x-bind:disabled="loading"
                    >
                        <i class="icon icon-circle-plus"></i>
                    </button>
                </div>

                <div class="column is-1">
                    <button class="button is-info is-fullwidth" @click="newUser">
                        <i class="icon icon-user-plus"></i>
                    </button>
                </div>

            </div>

            <section class="section">
                <div class="container">
                    <table class="table is-fullwidth is-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <template x-for="user in records" :key="user.id">
                                <tr
                                    @click="window.location.href = '/users/record?id=' + user.id"
                                    style="cursor: pointer;"
                                >
                                    <td x-text="user.id"></td>
                                    <td x-text="user.name"></td>
                                    <td x-text="user.email"></td>
                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>
            </section>

        </div>

    </main>

    <footer class="footer has-background-black-ter p-0">
        <div class="content has-text-left">

            <section class="section">
                <div class="container">
                    <div class="columns">

                        <div class="column is-6">
                            <p class="has-text-white is-size-7">
                                <span class="is-bold">Saavedra Vanilla</span> esta construido sobre una arquitectura
                                desacomplada basada en DSEE.
                                Cualquier servicio extra puede ser desarrollado según la necesidad del negocio.
                                El cobro depende de la cantidad de
                                capas necesitadas por servicio lo cual reduce el costo drasticamente.
                                Para cotizar un servicio extra
                                en tu app
                                <a href="mailto:gallo85floyd@gmail.com">
                                    <strong class="has-text-primary">contactanos</strong>.
                                </a>
                            </p>
                        </div>

                        <div class="column is-6">
                            <p class="is-size-7 has-text-white">
                                Numero de Contacto / WhatsApp:
                                <span class="has-text-primary">
                                    <i class="icon icon-phone"></i>
                                    + 52 246 207 29 85
                                </span>
                            </p>
                        </div>

                    </div>
                </div>
            </section>

        </div>
    </footer>

</body>

</html>
