<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/css/saavedra/saavedra.css">
    <script src="https://kit.fontawesome.com/75d1a8fea1.js" crossorigin="anonymous"></script>
    <script defer src="/assets/src/utils/utils.js"></script>
    <!-- Fichero JS para manejar estados de Alpine. Recomiendo un fichero por servicio. -->
    <script defer src=""></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.17.3/dist/cdn.min.js"></script>
    <title></title>
</head>
<body>
    <h1>Hello World</h1>
</body>
</html>
