<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <!-- Bulma maneja los escalados automaticamente -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Importar Bulma -->
    <link rel="stylesheet" href="/assets/css/bulma/css/bulma.min.css">
    <!-- Hoja de estilos de Saavedra -->
    <link rel="stylesheet" href="/assets/css/saavedra/saavedra.css">
    <!-- Importar Font Awsome Icons -->
    <script src="https://kit.fontawesome.com/75d1a8fea1.js" crossorigin="anonymous"></script>
    <!-- Importar Codigo JavaScript Reutilizable -->
    <script defer src="/assets/src/utils/utils.js"></script>
    <!-- Importar Codigo JavaScript del servicio en cuestión -->
    <script defer src="/assets/src/js/Saavedra/saavedra.js"></script>
    <!-- Importar Alpine.js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.17.3/dist/cdn.min.js"></script>
    <title>Servicio</title>
</head>
<body x-data="usersListComponent">

<!-- BARRA DE NAVEGACIÓN REUTILIZABLE -->
<section class="block hero has-background-dark">
    <nav class="navbar">
        <!-- ITEMS ALINEADOS AL COMIENZO -->
        <div class="navbar-start">
            <!-- MUESTRA HOMW | GO-BACK | NOMBRE DEL USUARIO (En Alpine.js agregar acciones para @click) -->
            <div class="navbar-item">
                <span class="icon-text has-text-white is-size-7 clickable" @click="goHome" style="cursor: pointer;">
                    <span class="icon"><i class="fa-solid fa-house"></i></span><span>Home</span>
                </span>
            </div>
            <div class="navbar-item">
                <span class="icon-text has-text-white is-size-7 clickable" @click="goBack" style="cursor: pointer;">
                    <span class="icon"><i class="fa-solid fa-rotate-left"></i></span><span>Volver</span>
                </span>
            </div>
            <!-- Se puede usar la navbar como breadcrumb listando la anidación de vistas y dando acción -->
            <div class="navbar-item">
                <span class="icon-text has-text-white is-size-7 clickable" @click="goUsers">
                    <span class="icon"><i class="fa-solid fa-briefcase"></i></span><span>Servicio {{ .Service }}</span>
                </span>
            </div>
        </div>
        <!-- ITEMS ALINEADOS AL FINAL | Acción Cerrar sesión (En Alpine.js agregar acciones para @click) -->
        <div class="navbar-end">
            <div class="navbar-item">
                <button class="button is-danger is-small" @click="logOut">
                    <span class="icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
                    <span>Cerrar Sesión</span>
                </button>
            </div>
        </div>
    </nav>
</section>
<body>

<!-- MAIN CONTIENE LA VISTA LISTA DE UN SERVICIO -->
<main class="hero">
    <section class="container">
        <!-- Serie de columnas para acomodar botones -->
        <div class="columns">
            <div class="column is-1">
                <!-- Botones (acción)-->
                <div class="buttons is-left">
                    <button class="button is-primary is-small is-fullwidth is-rounded" @click="newRecord">
                        <span class="icon"><i class="fa-solid fa-circle-plus"></i></span>
                        <span>Nuevo</span>
                    </button>
                </div>
                <!-- Buscador -->
            </div>
            <div class="column is-3">
                <div class="field">
                    <div class="control is-small has-icons-left">
                        <input class="input is-small is-rounded" type="text" placeholder="Buscador por nombre" x-model="searchbar">
                        <span class="icon is-small is-left"><i class="fa-solid fa-magnifying-glass"></i></span>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="buttons is-left">
                    <button class="button is-info is-small is-rounded" @click="searchRecord">
                        <span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <span>Buscar</span>
                    </button>
                    <button class="button is-danger is-small is-rounded" @click="cleanBar" x-show="clean">
                        <span class="icon"><i class="fa-solid fa-spray-can-sparkles"></i></span>
                        <span>Limpiar</span>
                    </button>
                </div>
            </div>
            <div class="column is-4">
                <!-- Paginación de la vista lista -->
                <div class="buttons is-right">
                    <button class="button is-small is-warning" @click="previousPage" :disabled="page === 1 || loading">
                        <span class="icon"><i class="fa-solid fa-minus"></i></span>
                    </button>
                    <span class="button is-static is-small is-text" x-text="`Página ${page}`"></span>
                    <button class="button is-small is-warning" @click="nextPage" :disabled="!hasNextPage || loading">
                        <span class="icon"><i class="fa-solid fa-plus"></i></span>
                    </button>
                </div>
            </div>
        </div>
        <!-- Tabla con estilos (Iteración) (Especifical Columnas y Filas)-->
        <table class="table is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Grupo</th>
                </tr>
            </thead>
            <tbody>
                <template x-for="r in records" :key="r.id">
                    <tr @click="openRecord(r.id)" class="focus">
                        <td x-text="r.id"></td>
                        <td x-text="r.name"></td>
                        <td x-text="r.email"></td>
                        <td x-text="r.party"></td>
                    </tr>
                </template>
                <tr x-show="!records || !loading && records.length === 0">
                    <td colspan="4">...</td>
                </tr>
            </tbody>
        </table>
    </section>
</main>
</body>
