<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load Frontend Dependencies -->
    <link rel="stylesheet" href="/assets/web/lucide-font/lucide.css">
    <link rel="stylesheet" href="/assets/css/savedraaCSS.css">
    <link rel="stylesheet" href="/assets/css/bulma/css/bulma.min.css">
    <script defer src="/assets/src/js/utils/utils.js"></script>
    <script defer src="/assets/src/js/Product/productMenu.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.16.3/dist/cdn.min.js"></script>

	<title>Product Menu</title>
</head>
<body class="has-navbar-fixed-top" x-data="productMenuComponent">

    <section class="hero">
      <div class="container">
        <nav class="navbar is-fixed-top has-background-black-ter">
          <div class="navbar-brand">
            <a class="navbar-item" href="/welcome" @click.prevent="goHome">
              <figure class="image mx-6">
                <img src="/assets/img/saavedraVanilla.svg" alt="Inicio">
              </figure>
            </a>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <a href="/login" @click.prevent="logOut">
                <button class="button is-primary px-3 is-small" type="button">
                  Cerrar sesión <span class="px-2"><i class="icon-log-in"></i></span>
                </button>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </section>

    <main class="hero is-fullheight">
        <section class="section">
          <div class="container">
            <div class="columns is-multiline">

              <div class="column is-6">
                    <a href="/product/material" @click.prevent="secureMaterial">
                        <div class="notification is-success card-fixed-height is-clickable-card">
                            <article class="has-text-left">
                                <i class="icon-anvil"></i>
                                <div class="content is-small">
                                    <h3>Material</h3>
                                    <p class="has-text-small truncate-text">
                                        Crear, editar o eliminar materiales.
                                    </p>
                                </div>
                            </article>
                        </div>
                    </a>
              </div>

              <div class="column is-6">
                    <a href="/product/provedor" @click.prevent="secureProveedor">
                        <div class="notification is-info card-fixed-height is-clickable-card">
                            <article class="has-text-left">
                                <i class="icon-van"></i>
                                <div class="content is-small">
                                    <h3>Provedor</h3>
                                    <p class="has-text-small truncate-text">
                                        Crear, editar o eliminar provedores.
                                    </p>
                                </div>
                            </article>
                        </div>
                    </a>
              </div>

              <div class="column is-6">
                    <a href="/product/product" @click.prevent="secureProduct">
                        <div class="notification is-warning card-fixed-height is-clickable-card">
                            <article class="has-text-left">
                                <i class="icon-shopping-basket"></i>
                                <div class="content is-small">
                                    <h3>Producto</h3>
                                    <p class="has-text-small truncate-text">
                                        Crear, editar o eliminar productos.
                                    </p>
                                </div>
                            </article>
                        </div>
                    </a>
              </div>

            </div>
          </div>
        </section>
    </main>

    <footer class="footer has-background-black-ter p-0">
      <div class="content has-text-left">

          <section class="section">
              <div class="container">
                  <div class="columns">

                      <div class="column is-6">
                          <p class="has-text-white is-size-7">
                              <span class="is-bold">Saavedra Vanilla</span> esta construido sobre una arquitectura
                              desacomplada basada en DSEE.
                              Cualquier servicio extra puede ser desarrollado según la necesidad del negocio.
                              El cobro depende de la cantidad de
                              capas necesitadas por servicio lo cual reduce el costo drasticamente.
                              Para cotizar un servicio extra
                              en tu app
                              <a href="mailto:gallo85floyd@gmail.com">
                                  <strong class="has-text-primary">contactanos</strong>.
                              </a>
                          </p>
                      </div>

                      <div class="column is-6">
                          <p class="is-size-7 has-text-white">
                              Numero de Contacto / WhatsApp:
                              <span class="has-text-primary">
                                  <i class="icon icon-phone"></i>
                                  + 52 246 207 29 85
                              </span>
                          </p>
                      </div>

                  </div>
              </div>
          </section>

      </div>
    </footer>

</body>
</html>
