.clickable {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.clickable:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.15);
}

.menuitem {
    height: 105px;
    overflow: hidden;
}

.focus {
    cursor: pointer;
}

.focus:hover {
    filter: brightness(1.10);
}

.wallpaper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background:
    url("/assets/img/saavedra/code.jpg");
}

.wallpaper-text {
    text-align: start;
    font-family: BlinkMacSystemFont, Helvetica, sans-serif;
    color: white;
    font-weight: bolder;
    font-style: normal;
    font-size: 70px;
    padding: 1cm 0 0;
}
