.clickable {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.clickable:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(10, 10, 10, 0.15);
}

.menuitem {
    height: 105px;
    overflow: hidden;
}

.focus {
    cursor: pointer;
}

.focus:hover {
    filter: brightness(1.10);
}

.wallpaper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.65)),
    url("/assets/img/saavedra/code.jpg");
    padding: 0rem 2rem 2rem;
}

.wallpaper-text {
    text-align: start;
    font-family: BlinkMacSystemFont, Helvetica, sans-serif;
    color: white;
    font-weight: bolder;
    font-style: normal;
    font-size: 75px;
    padding: 1cm 0 0;
}

.article {
    background-color: hsl(0, 0%, 21%);
    margin: 0.5rem;
    color: white;
    border-radius: 5px;
}

.article-subtitle {
    text-align: start;
    font-family: BlinkMacSystemFont, Helvetica, sans-serif;
    color: white;
    font-weight: bolder;
    font-style: normal;
    font-size: 25px;
    padding: 1rem;
}

.article-text {
    text-align: start;
    font-family: BlinkMacSystemFont, Helvetica, sans-serif;
    color: white;
    font-weight: normal;
    font-style: normal;
    font-size: 10px;
    padding: 0 1rem 1rem;
}

.glow-text {
  color: white;
  transition: all 0.3s ease;
  cursor: pointer;
}

.glow-text:hover {
  color: white;
  text-shadow: 0 0 8px rgba(211, 211, 211, 0.8),
              0 0 15px rgba(211, 211, 211, 0.5);
}
