<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load Frontend Dependencies -->
    <link rel="stylesheet" href="/assets/web/lucide-font/lucide.css">
    <link rel="stylesheet" href="/assets/css/bulma/css/bulma.min.css">
    <script src="/assets/src/js/welcome.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.16.3/dist/cdn.min.js"></script>

	<title>Welcome</title>
</head>
<body>

    <div x-data="welcomeComponent">
        <header x-html="headerContent"></header>
            <main class="section hero is-fullheight">
                <div class="container mt-3">
                    <p class="is-size-7">Welcome</p>
                </div>
            </main>
        <footer x-html="footerContent"></footer>
    </div>

</body>
</html>
