<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Load Frontend Dependencies -->
    <link rel="stylesheet" href="/assets/web/lucide-font/lucide.css">
    <link rel="stylesheet" href="/assets/css/bulma/css/bulma.min.css">
    <script defer src="/assets/src/js/welcome.js"></script>
    <script defer src="/assets/src/js/utils/utils.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.16.3/dist/cdn.min.js"></script>

	<title>Welcome</title>
</head>

<body class="has-text-centered has-navbar-fixed-top">

    <main class="hero is-fullheight">

        <div class="container" x-data="welcomeComponent">

            <nav class="navbar is-fixed-top has-background-black-ter">

                <div class="navbar-brand">
                    <a class="navbar-item" href="/welcome" @click.prevent="validateRefresh">
                        <figure class="image mx-4">
                            <img src="/assets/img/saavedraVanilla.svg"/>
                        </figure>
                    </a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <a href="/login" @click.prevent="closeSession">
                                    <button class="button is-primary px-3">
                                        Cerrar Sesión
                                        <span class="px-2">
                                            <i class="icon-log-in"></i>
                                        </span>
                                    </button>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

            </nav>

        </div>

    </main>

    <footer class="footer has-background-black-ter">
      <div class="content has-text-centered">
        <p class="has-text-white is-size-7">
            <span class="is-bold">Saavedra Vanilla</span> esta construido sobre una arquitectura desacomplada basada en DSEE.
            Cualquier servicio extra puede ser desarrollado según la necesidad del negocio. El cobro es por
            la cantidad de capaz por servicio reduciendo el costo drasticamente. Para cotizar un servicio extra
            en tu app
            <a href="mailto:gallo85floyd@gmail.com">contactanos.</a>
        </p>
        <p class="is-size-7 has-text-white">
            Numero de Contacto / WhatsApp: <span class="has-text-primary">+52 246 207 29 85</span>
        </p>
      </div>
    </footer>

</body>

</html>
