<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <!-- Bulma maneja los escalados automaticamente -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Importar Bulma -->
    <link rel="stylesheet" href="/assets/css/bulma/css/bulma.min.css">
    <!-- Hoja de estilos de Saavedra -->
    <link rel="stylesheet" href="/assets/css/saavedra/saavedra.css">
    <!-- Importar Font Awsome Icons -->
    <script src="https://kit.fontawesome.com/75d1a8fea1.js" crossorigin="anonymous"></script>
    <!-- Importar Codigo JavaScript Reutilizable -->
    <script defer src="/assets/src/utils/utils.js"></script>
    <!-- Importar Codigo JavaScript del servicio en cuestión -->
    <script defer src="/assets/src/js/Saavedra/saavedra.js"></script>
    <!-- Importar Alpine.js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.17.3/dist/cdn.min.js"></script>
    <title>Servicio</title>
</head>
<body x-data="loginComponent">

<!-- EL LOGIN SE HACE DESDE UNA BARRA DE NAVEGACIÓN. ESTE ESTILO SE PUEDE MODIFICAR SI SE DESEA -->
<section class="hero has-background-dark">
    <nav class="navbar">
        <div class="navbar-start">
            <div class="navbar-item">
                <span class="icon-text has-text-white subtitle">
                    <span class="icon"><i class="fa-solid fa-tree"></i></span><span class="glow-text">Saavedra</span>
                </span>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <p class="has-text-danger is-size-7" x-show="status">Credenciales No Validas</p>
            </div>
            <div class="navbar-item">
                <p class="control has-icons-left">
                    <input class="input is-small" type="email" placeholder="example@gmail.com" x-model="email"/>
                    <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                </p>
            </div>
            <div class="navbar-item">
                <p class="control has-icons-left">
                    <input class="input is-small" type="password" placeholder="••••••••••••••" x-model="password">
                    <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                </p>
            </div>
            <div class="navbar-item">
                <button class="button is-primary is-small" @click="login" :disabled="unlock">
                    <span class="icon">
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    </span>
                    <span>Iniciar Sesión</span>
                </button>
            </div>
        </div>
    </nav>
</section>

<!-- Pagina web estilizada -->
<section class="hero">
    <!-- Imagen wallpaper. Saavedra Desc. -->
    <div class="hero-body wallpaper has-text-centered">
        <div class="columns">
            <div class="column is-6">
                <h1 class="wallpaper-text">Saavedra</h1>
                <div class="block">
                    <p class="has-text-white has-text-left is-size-6">
                        Framework inspirado en la modularidad de los 'ERPs' modernos pero
                        con la rapidez  de 'Go' y la personalización del diseño web.
                    </p>
                </div>
                <div class="block">
                    <p class="has-text-white has-text-left is-size-6">
                        Desarrolla rápido usando tu asistente de IA favorito.
                        Disminuye tus costos de programación evitando código congelado.
                        Construye a la medida de tus clientes.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Tarjetas de elementos de la pagina web -->
    <div class="container py-6">
        <div class="columns is-multiline">
            <div class="column is-3">
                <article class="article glow-text clickable">
                    <div class="frame focus">
                        <figure class="image is-5by3">
                            <img src="/assets/img/saavedra/book.png"/>
                        </figure>
                        <h2 class="pt-2 article-subtitle">Comienzo & Tutorial</h2>
                        <span class="block">
                            <p class="article-text">Aprende a desarollar con saavedra.</p>
                        </span>
                    </div>
                </article>
            </div>
            <div class="column is-3">
                <article class="article glow-text clickable">
                    <div class="frame">
                        <figure class="image is-5by3">
                            <img src="/assets/img/saavedra/code.jpg"/>
                        </figure>
                        <h2 class="pt-2 article-subtitle">Comienzo & Tutorial</h2>
                        <span class="block">
                            <p class="article-text">Aprende a desarollar con saavedra.</p>
                        </span>
                    </div>
                </article>
            </div>
            <div class="column is-3">
                <article class="article glow-text clickable">
                    <div class="frame">
                        <figure class="image is-5by3">
                            <img src="/assets/img/saavedra/code.jpg"/>
                        </figure>
                        <h2 class="pt-2 article-subtitle">Comienzo & Tutorial</h2>
                        <span class="block">
                            <p class="article-text">Aprende a desarollar con saavedra.</p>
                        </span>
                    </div>
                </article>
            </div>
            <div class="column is-3">
                <article class="article glow-text clickable">
                    <div class="frame">
                        <figure class="image is-5by3">
                            <img src="/assets/img/saavedra/code.jpg"/>
                        </figure>
                        <h2 class="pt-2 article-subtitle">Comienzo & Tutorial</h2>
                        <span class="block">
                            <p class="article-text">Aprende a desarollar con saavedra.</p>
                        </span>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

</body>
