<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <!-- Bulma maneja los escalados automaticamente -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Importar Bulma -->
    <link rel="stylesheet" href="/assets/css/bulma/css/bulma.min.css">
    <!-- Hoja de estilos de Saavedra -->
    <link rel="stylesheet" href="/assets/css/saavedra/saavedra.css">
    <!-- Importar Font Awsome Icons -->
    <script src="https://kit.fontawesome.com/75d1a8fea1.js" crossorigin="anonymous"></script>
    <!-- Importar Codigo JavaScript Reutilizable -->
    <script defer src="/assets/src/utils/utils.js"></script>
    <!-- Importar Codigo JavaScript del servicio en cuestión -->
    <script defer src="/assets/src/js/Saavedra/saavedra.js"></script>
    <!-- Importar Alpine.js -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.17.3/dist/cdn.min.js"></script>
    <title>Servicio</title>
</head>
<body x-data="homeComponent">

<!-- BARRA DE NAVEGACIÓN REUTILIZABLE -->
<section class="block hero has-background-dark">
    <nav class="navbar">
        <!-- ITEMS ALINEADOS AL COMIENZO -->
        <div class="navbar-start">
            <!-- MUESTRA HOMW | GO-BACK | NOMBRE DEL USUARIO (En Alpine.js agregar acciones para @click) -->
            <div class="navbar-item">
                <span class="icon-text has-text-white is-size-7 clickable" @click="goHome" style="cursor: pointer;">
                    <span class="icon"><i class="fa-solid fa-house"></i></span><span>Home</span>
                </span>
            </div>
            <div class="navbar-item">
                <span class="icon-text has-text-white is-size-7 clickable" @click="goBack" style="cursor: pointer;">
                    <span class="icon"><i class="fa-solid fa-rotate-left"></i></span><span>Volver</span>
                </span>
            </div>
            <div class="navbar-item">
                <span class="icon-text has-text-white is-size-7">
                    <span class="icon"><i class="fa-solid fa-user"></i></span><span>Bienvenido(a) {{ .UserName }}</span>
                </span>
            </div>
        </div>
        <!-- ITEMS ALINEADOS AL FINAL | Acción Cerrar sesión (En Alpine.js agregar acciones para @click) -->
        <div class="navbar-end">
            <div class="navbar-item">
                <button class="button is-danger is-small" @click="logOut">
                    <span class="icon"><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
                    <span>Cerrar Sesión</span>
                </button>
            </div>
        </div>
    </nav>
</section>

<!-- SECCIÓN DE ITEMS DE MENU -->
<section class="container">
    <div class="columns is-multiline">
        <!-- Sección para mensajes. -->
        <div class="column is-12" x-show="message">
            <div class="notification is-warning is-light">
                <button class="delete" @click="close"></button>
                <p class="has-text-left is-size-7">
                    <span class="icon-text">
                        <span class="icon"><i class="fa-solid fa-triangle-exclamation"></i></span>
                        <span>Este usuario no tiene permisos para realizar la acción.</span>
                    </span>
                </p>
            </div>
        </div>
        <!-- ITEMS DE MENU -->
        <!-- ANCHO POR DEFECTO DE LA COLUMNA -->
        <div class="column is-3">
            <!-- NOTIFICACION BULMA CSS + CLICKABLE (HOVER) + MENUITEM (ESCONDE TEXTOS LARGOS) -->
            <a @click="goUsers">
                <div class="notification is-primary clickable menuitem focus">
                    <span class="icon-text">
                        <!-- ICONOS INTERCAMBIABLES -->
                        <span class="icon"><i class="fa-solid fa-users"></i></span>
                        <span><h2 class="subtitle">Usuarios</h2></span>
                    </span>
                    <!-- DESCRIPCIÓN CORTA DEL SERVICIO -->
                    <p class="is-size-7">Agregar, editar y eliminar usuarios.</p>
                </div>
            </a>
        </div>
    </div>
</section>

</body>
